<div class="group" data-accepted='<%= team.accepted %>' data-team="<%= team.id %>">
  <h3><%= frankie_in_place team, :name %>
  </h3>

  <div>
    <div class="buttons">
      <%= link_to 'New Player', "/players/new?team_id=#{team.id}", :class => "btn btn-primary", :style => "color:white; float:right; padding: 0 14px" %>
    </div>
    <% if team.has_players? %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Number</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% team.players.each do |player| %>
              <tr>
                <td>
                  <%= frankie_in_place player, :name %>
                </td>
                <td>
                  <%= frankie_in_place player, :age %>
                </td>
                <td>
                  <%= frankie_in_place player, :number %>
                </td>
                <td>
                  <%= render :partial => 'layouts/btn_group', :locals => {:instance => player, :buttons => ["Info", "Edit", "Delete"]} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>There are no players in this team</p>
      <% end %>
  </div>
</div>
  