<p>
  <strong>Header:</strong>
  <%= best_in_place @notice, :header, :type => :textarea %>
  <%= img_in_place %>
</p>

<p>
  <strong>Body:</strong>
  <%= best_in_place @notice, :body, :type => :textarea %>
  <%= img_in_place %>
</p>

<%= render :partial => 'layouts/btn_group', :locals => {:instance => @notice, :buttons => ["Edit", "Back"]} %>
