<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :team %>
    <% if @player.team %>
      <%= f.select :team_id, options_from_collection_for_select(Team.all, 'id', 'name', @player.team.id), :prompt => "-- Select --" %>
    <% else %>
      <%= f.select :team_id, options_from_collection_for_select(Team.all, 'id', 'name'), :prompt => "-- Select --" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

